.is-open {
	display: block;
}


@media (max-width: 960px) {
   .swipe-down {
      transform: none;
      transform: translateY(150vh);
      
      transition: transform 0.3s;
      
   }
   
   .visible {
      transform: translateY(0);
      
      transition: transform 0.3s;
   }
}