.is-open {
	display: block;
}

.footer-mobile {
   display: block;
}

@media (max-width: 640px) {
   .modal {
      transform: none;
      transform: translateY(150vh);
      transition: transform 0.3s;
      bottom: 0;
      top: auto;
   }
   .visible {
      transform: translateY(0);
      
      transition: transform 0.3s;
   }
}