@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-Pro-B';
  src: url('./fonts/SF-Pro-Display-Bold.otf');
}
@font-face {
  font-family: 'SF-Pro-M';
  src: url('./fonts/SF-Pro-Display-Medium.otf');
}
@font-face {
  font-family: 'SF-Pro-R';
  src: url('./fonts/SF-Pro-Display-Regular.otf');
}
@font-face {
  font-family: 'AeonikPro-R';
  src: url('./fonts/AeonikPro-Regular.otf');
}
@font-face {
  font-family: 'AeonikPro-M';
  src: url('./fonts/AeonikPro-Medium.ttf');
}
@font-face {
  font-family: 'AeonikPro-L';
  src: url('./fonts/AeonikPro-Light.otf');
}
@font-face {
  font-family: 'AeonikPro-Bo';
  src: url('./fonts/AeonikPro-Bold.otf');
}
@font-face {
  font-family: 'AeonikPro-Bl';
  src: url('./fonts/AeonikPro-Black.ttf');
}
@font-face {
  font-family: 'PlusJakartaDisplay-B';
  src: url('./fonts/PlusJakartaDisplay-Bold.otf');
}
@font-face {
  font-family: 'PlusJakartaDisplay-R';
  src: url('./fonts/PlusJakartaDisplay-Regular.otf');
}

body {
  background-color: black;
  font-family: 'AeonikPro', sans-serif;
}
