@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './blocks/containers.css';
@import './blocks/menu.css';
@import './components/elements/button.css';
@import './components/elements/cursor.css';
@import './components/elements/vector.css';
@import './components/elements/profile-menu.css';
@import './components/elements/lang.css';
@import './components/elements/checkbox.css';
@import './components/elements/scrollbar.css';
@import './components/elements/static-card.css';
@import './components/elements/radioinput.css';
@import './components/elements/modal.css';
@import './components/elements/input_select.css';
@import './components/animate/animated.css';
@import './components/animate/slider.css';

@font-face {
  font-family: 'SF-Pro-Bo';
  font-weight: 700;
  src: url('./fonts/SF-Pro-Display-Bold.otf');
}
@font-face {
  font-family: 'SF-Pro-M';
  src: url('./fonts/SF-Pro-Display-Medium.otf');
}
@font-face {
  font-family: 'SF-Pro-R';
  src: url('./fonts/SF-Pro-Display-Regular.otf');
}
@font-face {
  font-family: 'AeonikPro-R';
  src: url('./fonts/AeonikPro-Regular.otf');
}
@font-face {
  font-family: 'AeonikPro-M';
  src: url('./fonts/AeonikPro-Medium.ttf');
}
@font-face {
  font-family: 'AeonikPro-L';
  src: url('./fonts/AeonikPro-Light.otf');
}
@font-face {
  font-family: 'AeonikPro-Bo';
  src: url('./fonts/AeonikPro-Bold.otf');
}
@font-face {
  font-family: 'AeonikPro-Bl';
  src: url('./fonts/AeonikPro-Black.ttf');
}
@font-face {
  font-family: 'Aeonik-Bl';
  src: url('./fonts/Aeonik-Black.ttf');
}
@font-face {
  font-family: 'Aeonik-M';
  src: url('./fonts/Aeonik-Medium.ttf');
}
@font-face {
  font-family: 'Aeonik-R';
  src: url('./fonts/Aeonik-Regular.ttf');
}
@font-face {
  font-family: 'PlusJakartaDisplay-Bo';
  src: url('./fonts/PlusJakartaDisplay-Bold.otf');
}
@font-face {
  font-family: 'PlusJakartaDisplay-R';
  src: url('./fonts/PlusJakartaDisplay-Regular.otf');
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: 'AeonikPro-R', sans-serif;
  color: white;
  /* cursor: none; */
}

.gradient-foto {
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.2) 0.95%, rgba(0, 0, 0, 0.2) 99%);
}

.fill:hover svg path {
  fill: #d7ff00;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input {outline: 1px solid rgba(255,255,255,0.3);}
input:focus {outline: 2px solid rgb(253, 253, 253);}
textarea {outline: 2px solid rgba(255,255,255,0.3);}
textarea:focus {outline: 2px solid rgb(253, 253, 253);}